.cards {
  height: 200px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  perspective: 1000px;
  width: 310px;
  height: 215px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background: radial-gradient(
    circle at 100%,
    rgba(30, 221, 255, 0.993),
    rgb(139, 93, 247) 75%,
    white 79%,
    rgb(189, 110, 253) 80%
  );
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
}

.card-back {
  background: radial-gradient(
    circle at 100%,
    rgba(30, 221, 255, 0.993),
    rgb(139, 93, 247) 75%,
    white 79%,
    rgb(189, 110, 253) 80%
  );
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.cards:hover .card {
  transform: rotateY(180deg);
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-number {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-holder {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-expiry {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-cvv {
  font-size: 18px;
}

body {
  height: 1000px;
}

button {
  background-color: rgb(92, 136, 255);
}
.b {
  font-size: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add space between cards */
}

.Bank {
  padding-left: 200pt;
}
.magnetic_stripe {
  background: black;
  width: auto;
  height: 10%;
}

.card-type img {
  padding-left: 200pt;
  width: 50px;
}

.card-item {
  width: calc(50% - 10px); /* Display two cards per row with margin */
  margin-bottom: 20px; /* Add space below each card */
}

.cardform {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
}
.holo {
  padding-left: 200pt;
}

.cardform label {
  font-weight: bold;
}

.cardform .form-group {
  margin-bottom: 10px;
}

.cardform .form-control {
  width: auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cardform .btn-primary {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cardform .btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.editcard {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
}

.editcard label {
  font-weight: bold;
}

.editcard .form-group {
  margin-bottom: 10px;
}

.editcard .form-control {
  width: auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.editcard .btn-primary {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.editcard .btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
